# Eclipse files
.settings/
.project
.classpath

# Binarios Java
/bin/
/target/
/out/

# Archivos temporales y logs
*.log
*.tmp
*.bak
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos compilados
*.class

# Eclipse metadata
.metadata/

# Archivos de usuario de Eclipse
*.launch

# Configuración local
*.iml
.idea/
﻿
 
 
 
 